body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* start header area */
.header {
    background: #3C5998;
    padding: 8px 0;
}

.header::after{
    content: '';
    clear: both;
    display: block;
}

.container {
    width: 55%;
    margin: auto;
    max-width: 1000px;
}

.logo-area {
    width: 30%;
    float: left;
}

.logo-area img {
    width: 160px;
    margin-top: 20px;
}

.login-area {
    width: 70%;
    float: left;
    color: #fff;
}

.login-area form {
    float: right; 
}

.login-area label,
.login-area input{
    display: block;
}

.login-area label {
    font-size: 12px;
    margin-bottom: 5px;
}

.login-area .eamil,
.login-area .password,
.login-area .login {
    float: left;
    margin-right: 12px;
}

.login-area .login {
    margin-right: 0;
}

.login-area input[type="text"],
.login-area input[type="password"]{
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 300;
    padding: 2px 5px;
}

.login-area .password a{
    text-decoration: none;
    font-size: 12px;
    color: #9cb4d8;
}

.login-area .password a:hover{
    text-decoration: underline;
}

.login-area .login input[type="submit"]{
    background-color: #4267b2;
    border:1px solid #29487d;
    padding: 3px 8px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}

.login-area .login input[type="submit"]:hover{
    background-color: #3C5998;
}
/* end header area */

/* start middle section */
.signup-area {
    padding: 25px 0;
    background: linear-gradient(#ffffff, #D3D9E9);
}

.signup-area::after {
    content: '';
    clear: both;
    display: block;
}
.left-area {
    width: 55%;
    float: left;
}
.right-area {
    width: 45%;
    float: left;
}

.left-area p {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
}

.left-area img {
    width: 100%;
}

.right-area h2 {
    font-size: 33px;
    color: #333;
    margin: 0;
}

.right-area h4{
    color: #1d2129;
    font-size: 19px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc7d8;
    border-radius: 5px;;
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px 0;
}

.full-name {
    overflow: hidden;
}
.first-name {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.sur-name{
    width: 48%;
    float: left;
}

.birthday h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #90949c;
    font-size: 16px;
    font-weight: 600;
}

.birthday {
    overflow: hidden;
}

.birth-date {
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 200px;
}
.birth-date select {
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
}

.birth-link{
    float: left;
    width: 190px;
}

.birth-link a {
    font-size: 13px;
    display: block;
    line-height: 1.1;
    text-decoration: none;
    color: #385898;
}

.birth-link a:hover {
    text-decoration: underline;
}

.gender {
    padding: 10px 0;
}
.gender h4 {
    color: #90949c;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.gender label {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

.text-box{
    margin-bottom: 20px;
}

.text-box p {
    color: #777;
    font-size: 12px;
    width: 80%;
}

.text-box p a{
text-decoration: none;
color: #385898;
}

.text-box p a:hover {
    text-decoration: underline;
}

.btn {
    margin-bottom: 30px;
}

.btn input {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    padding: 10px 14px;
    min-width: 194px;
    color: #fff;
    font-size: 19;
    font-weight: bold;
}

.btn input:hover {
    background: linear-gradient( #578843, #67ae55);
    cursor: pointer;
}

.business {
    font-weight: 600;
    color: #666;
}

.business a {
    text-decoration: none;
    color: #385898;
}

.business a:hover {
    text-decoration: underline;
}
/* end middle section */

/* start footer section */

.footer-area {
    padding: 30px 0;
}

.footer-area ul {
    margin: 0;
    padding: 0;
}

.footer-area ul li {
    display: inline;
}

.footer-area ul li a{
    text-decoration: none;
    color: #385898;
    font-size: 13px;
}

.footer-area ul li.active a {
    color: #737373;
}

.footer-area .top ul li {
    margin-right: 5px;
}

.footer-area .middle ul li {
    margin-right: 12px;
}

.footer-area .top ul li:last-child {
    margin-right: 0;
    border: 2px solid #999;
    padding: 0 10px;
    background: #ddd;
    font-weight: bold;
    cursor: pointer;
}

.footer-area .middle ul li:last-child {
    margin-right: 0;
}

.footer-area span {
    color: #385898;
    font-size: 13px;
}

.footer-area hr {
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}

.footer-area .bottom {
    margin-top: 25px;
}

/* end footer section */